<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="startupType" value="EventStore.ClusterNode.Startup, EventStore.ClusterNode" />
    <!--The allowed values are Development, Staging and Production-->
    <!-- Serilog log events level: Verbose Debug Information Warning Error Fatal -->
    <add key="hostingEnvironment" value="Development" />
    
    <add key="esConfigFile" value="ClusterConfiguration.yaml" />

    <add key="serviceName" value="ESCluster" />
    <add key="serviceDisplayName" value="ES.ClusterNode" />
    <add key="serviceDescription" value="ES.ClusterNode" />
    <add key="dependsOnServices" value="" />

    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:LiterateConsole" value="Serilog.Sinks.Literate" />
    <add key="serilog:write-to:LiterateConsole"/>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="tslogs\{Date}.txt" />
    <add key="serilog:write-to:RollingFile.fileSizeLimitBytes" value="" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10485760" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
  </runtime>
</configuration>
