<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--The allowed values are Development, Staging and Production-->
    <!-- Serilog log events level: Verbose Debug Information Warning Error Fatal -->
    <add key="hostingEnvironment" value="Development" />
    
    <add key="esConfigFile" value="ClusterConfiguration.yaml" />
  </appSettings>

  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
  </runtime>
</configuration>
