<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--The allowed values are Development, Staging and Production-->
    <!-- Serilog log events level: Verbose Debug Information Warning Error Fatal -->
    <add key="hostingEnvironment" value="Development" />
    
    <add key="esConfigFile" value="ClusterConfiguration.yaml" />

    <add key="serviceName" value="ESCluster" />
    <add key="serviceDisplayName" value="ES.ClusterNode" />
    <add key="serviceDescription" value="ES.ClusterNode" />
    <add key="dependsOnServices" value="" />

    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="tslogs\{Date}.txt" />
    <add key="serilog:write-to:RollingFile.fileSizeLimitBytes" value="" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10485760" />
  </appSettings>

  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
  </runtime>
</configuration>
